/* universal styles */
.gradient {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.text {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}



/* This is nav section */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    height: 130px;

}

.gamer-text {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FF42A5;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 34px;
}

.follow {
    display: flex;
    justify-content: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;

}


.fa-brands {
    width: 33.916px;
    height: 24px;
}

.banner {
    width: 1920px;
    height: 700px;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
}

.button-primary {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner li {
    list-style: none;
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 17px;

}

.banner {
    display: flex;
    justify-content: space-around;
}

.body2 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-evenly;

}

.wgm {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.purpose {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.body>p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.funny-games {
    height: 874px;
    width: 75%;
    margin: 0 auto;


}

.funnygames-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;


}

.funny-games-text {
    margin-left: 350px;
    padding-top: 90px;
}

.text {
    margin-left: 90px;
    padding-bottom: 24px;
}

.img69 {
    position: relative;
    right: 200px;
    top: 120px;

}

.play-games-anywhere {
    display: flex;
    text-align: right;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 300px;
}

.genre {
    display: grid;
    grid-template-columns: repeat(5, 2fr);

    justify-items: center;
    row-gap: 40px;
    justify-content: center;
    padding-bottom: 80px;
}

button {
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: none;
    background: #FFF;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;}
button:hover{
    border:5px solid #F948B2;
    color: #F948B2;
}